* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  pointer-events: none;
}
canvas {
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
}
shader {
  display: none;
}
#info {
  position: fixed;
  top:  0;
  left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  width:  100vw;
  height: 100vh;
  color: white;
  font-family: Russo One;
  text-align: center;
}
#info > div {
  background-color: rgba(0, 0, 0, 0.6);
  position: inline-block;
}
#title {
  font-size: 7vw;
}
#controls {
  position: fixed;
  padding: 20px;
  padding-bottom: 40px;
  bottom: 0;
  width: 100vw;
  font-size: 3vw;
  font-family: Russo One;
  text-align: center;
}
#crosshair {
  position: fixed;
  top:  50vh;
  left: 50vw;
  margin: -62.5px;
  width:  125px;
  height: 125px;
  padding: 0;
  color: red;
  font-size: 100px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  overflow: visible;
}
